
*{margin: 0 ; padding: 0}

header, section, main, nav, footer, article{ display: block;}

a{
    text-decoration: none;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 698px;
}

main{
    width: 1000px;
    height: 579px;
    display:block;
}

main section{
    margin-top: 116px;
}

body{
    width: 1280px;
    margin: auto;
    display:block;
}


header {
    width: 1000px;
    height: 193px;
    background: #d6d6d6;
    position: relative;
}

.logo{
    background: url("../images/logo.png") center no-repeat;
    width: 106px;
    height: 104px;
    position: absolute;
    left: 44.7%;
    top : 20%;

}

.selected {
    background-color: #003748;
    text-decoration: none;
    color : #ffffff;
}

/* first layout css */

#layoutFirst main{
    display:block;
}

#layoutFirst nav{
    width:100%;
    height:61px;
    background: #337ab7;
    display:block;
}

#layoutFirst nav ul{
     margin-left:45px;
    list-style-type: none;
}

#layoutFirst nav ul li{
    float: left;
    margin-left: -10px;
    margin-top: 11px;
    margin-right: 50px;
}

#layoutFirst nav a{
    text-decoration: none;
    color:#ebffff;
    font-family: "Arial";
    display:inline-block;
    padding: 10px 70px;
}


#layoutFirst aside{
    display:inline-block;
    background-color:#eeeeee;
    width:245px;
    height:695px;
    margin-bottom:-4px;
    margin-left:-4px;
    float : right;
}


#layoutFirst aside p{
    width:185px;
    height:125px;
    position:relative;
    top:265px;
    margin-right:10px;
    background-color:#62c462;
    float : right;
}


footer{
    height:50px;
    width:1000px;
    background-color:#d6d6d6;
    position: fixed;
    bottom: 0px;
}


/* elements */

#sectionspace{
    display:inline-block;
    margin-top:100px;
    vertical-align:top;
}

#ElmFirst{
    width: 700px;
    height: 125px;
    margin-top: 0px;
    background-color: #62c462;
    margin-right: 25px;
    float: right;

}

#ElmSecond{
    width: 700px;
    height: 200px;
    margin-top: 26px;
    background-color: #62c462;
    margin-right: 25px;
    float: right;

}

#ElmThird{
    width: 185px;
    height: 125px;
    float: right;
    margin-top: 29px;
    background-color: #62c462;
    margin-right: 25px;

    /* git shits*/
}


/* second layout css */

#ElmFirst_2{
    width: 189px;
    height: 512px;
    background-color: #62c462;
    margin-left: 5px;
    float: left;
}

#ElmSecond_2{
    width: 189px;
    height: 325px;
    margin-left: 28px;
    background-color: #62c462;
    float: left;
}

#ElmThird_2{
    width: 189px;
    height: 125px;
    float: left;
    margin-top: 29px;
    background-color: #62c462;
    margin-left: 28px;
}

#ElmFourth_2{
    width: 189px;
    height: 387px;
    /*margin-left: 29px;*/
    background-color: #62c462;
    position: absolute;
    top: 565px;
    left: 588px;
    float: left;
}

#layoutSecond nav{
    float: left;
    width: 146px;
    height: 758px;
    background: #337ab7;
}

#layoutSecond nav ul{
    list-style-type: none;
}

#layoutSecond nav ul li{
    float: left;
}

#layoutSecond nav a{
    text-decoration: none;
    width: 146px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    color:#ebffff;
    font-family: "Arial";
    display:inline-block;
}

#layoutSecond aside{
    display:inline-block;
    background-color:#eeeeee;
    width:220px;
    height:758px;
    float : left;
}


#layoutSecond aside p{
    width:76px;
    height:78px;
    position:relative;
    top:265px;
    left : 11px;
    margin-right:10px;
    background-color:#62c462;
    float : left;
}

#layoutSecond main section{
    margin-top: 24px;
}
